<a href="https://colab.research.google.com/github/DonRomaniello/CitibikeDocks/blob/master/TripData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Note: While CitiBike has stations on both sides of the Hudson, few (if any) rides originate in one state and end in another. There would be very little incentive to attempt this feat beyond bragging rights, and based on the two sets of trip data published depending on jurisdiction, it does not seem like anyone is doing it. As I live and work in New York City, I will only be focusing on New York.

Before training our model, it would be useful to learn how bikes flow between stations.

CitiBike publishes trip reports every month to an AWS S3 bucket. These reports contain data of all the trips taken 
by CitiBike users, with information like the start times and locations, end times and locations, etc.

In [1]:
import requests
import pandas as pd

Unfortunately, some of the data are published as zip files that also contain MacOS special files, which means PANDAS can't simply ingest the zip file as published.

We will use Requests to grab the file from the S3 bucket, BytesIO to keep the zip directory in memory, and ZipFile to work with the zip directory to extract the CSV only.

In [2]:
from io import BytesIO
from zipfile import ZipFile

In [3]:
dirtyZipUrl = 'https://s3.amazonaws.com/tripdata/202108-citibike-tripdata.csv.zip'
dirtyZipFilename = requests.get(dirtyZipUrl).content
dirtyZipFile = ZipFile( BytesIO(dirtyZipFilename), 'r')

for item in dirtyZipFile.namelist():
  print("File in zip:" + item)

File in zip:202108-citibike-tripdata.csv
File in zip:__MACOSX/._202108-citibike-tripdata.csv

There it is, the stuff that PANDAS doesn't like. The files in the "__MACOSX" directory will cause the PANDAS read_csv() function to throw an exception.

Not all of the published zip directories have this problem, but we shoud get rid of it if it is in there.

In [4]:
justCSV = [cleanFilename for cleanFilename in dirtyZipFile.namelist() if "._" not in cleanFilename and ".csv" in cleanFilename][0]

And now we can load the data and make sure it is as expected.

In [5]:
tripData = pd.read_csv(dirtyZipFile.open(justCSV), low_memory=False)
tripData.head()

            ride_id rideable_type  ...    end_lng member_casual
0  FB6B89D05B67EBED  classic_bike  ... -73.955613        member
1  E13DA3E30CEF8DFC  classic_bike  ... -73.981095        member
2  56617490AB8AE69C  classic_bike  ... -73.957721        member
3  CA908B271C7D6663  classic_bike  ... -73.957721        casual
4  3E170CE1F4FE179D  classic_bike  ... -73.957721        casual

[5 rows x 13 columns]

Great.

We should turn this process into a function that takes the URL of the S3 item as input and returns a pandas DataFrame, because we will be doing this many times.

In [20]:
def readDirtyZip(dirtyZipUrl):
  dirtyZipFilename = requests.get(dirtyZipUrl).content
  dirtyZipFile = ZipFile( BytesIO(dirtyZipFilename), 'r')
  tripData = pd.read_csv(dirtyZipFile.open([cleanFilename for cleanFilename in dirtyZipFile.namelist() if "._" not in cleanFilename and ".csv" in cleanFilename][0]), low_memory=False)
  
  return tripData

# Legacy Data

Before going any further in creating our trip dataset, there is a slight wrinkle. At some point CitiBike changed the IDs for the all the stations. 

Graciously, they saw fit to include the old names *and* new names in the JSON feed that provides live information about the system.

This will allow us to construct a dictionary that which we can use to rename the old trip data to reflect the current naming paradigm.

Notes:  

*   Stations that begin with letters include stations in New Jersey, so we will remove them when we make the dictionary.
* The legacy system used int64 as the datatype for station IDs. The new system uses strings. When constructing the dictionary, the legacy IDs need to be type cast.

In [125]:
stationLocationsRequest = requests.get('https://gbfs.citibikenyc.com/gbfs/en/station_information.json')
stationLocationData = stationLocationsRequest.json()
stationLocations = pd.DataFrame(stationLocationData['data']['stations'])
stationNameDictionary = dict(zip(stationLocations[stationLocations['short_name'].str.contains('[a-zA-Z]+', regex=True)==False].legacy_id.astype('int64'), stationLocations[stationLocations['short_name'].str.contains('[a-zA-Z]+', regex=True)==False].short_name))

We don't need anything except the dictionary, so we will delete everything else that went into creating the dictionary.

In [19]:
del stationLocationsRequest, stationLocationData, stationLocations

Since we are trying to predict the availability of bikes and open docks in the current CitiBike system, the new names will be used to rename old trip station IDs.

The last month that used the legacy IDs appears to be January, 2021. We should test our renaming dictionary on this before proceeding.

In [116]:
legacyTrips = readDirtyZip('https://s3.amazonaws.com/tripdata/202101-citibike-tripdata.csv.zip')

legacyTrips['start station id'] = legacyTrips['start station id'].map(stationNameDictionary)
legacyTrips['end station id'] = legacyTrips['end station id'].map(stationNameDictionary)

legacyTrips.head()

   tripduration                 starttime  ... birth year gender
0          2513  2021-01-01 00:00:11.9020  ...       1969      0
1          2519  2021-01-01 00:00:15.0960  ...       1969      0
2          1207  2021-01-01 00:00:28.9300  ...       2002      1
3          2506  2021-01-01 00:00:32.7130  ...       2002      1
4           959  2021-01-01 00:00:35.3650  ...       2002      1

[5 rows x 15 columns]

Looks good. In fact, looks great, because station IDs that are not in the dictionary of current stations are replaced with NaN. We can use the PANDAS dropna fuction to remove them... later. First we will do a little more processing and cleaning.

Some column names have changed in the new era. Spaces have been replaced with underscores in the new data, and the time stamp column names are prepositional phrases.

We are only going to be using trip start times, end times, and the station IDs for the starting stations and end stations, so these are the only ones we will bother to rename.

In [117]:
legacyColumnRename = dict({'starttime': 'started_at', 'stoptime': 'ended_at', 'start station id': 'start_station_id', 'end station id': 'end_station_id'})
legacyTrips.rename(columns=legacyColumnRename, inplace=True)

Then we can use the column renaming dictionary to cull the unwanted columns from our DataFrame.

In [118]:
legacyTrips = legacyTrips[legacyColumnRename.values()]
legacyTrips.head()

And finally drop NaNs. Had we done this earlier we might have lost data if there was mssing information in columns that we aren't even going to be using.

In [122]:
legacyTrips.dropna(inplace=True)
legacyTrips.isna().sum()

started_at          0
ended_at            0
start_station_id    0
end_station_id      0
dtype: int64

We don't really want to do this manually, so maybe a list of the contents of the bucket is in order. We will use Boto3 to do this, connecting to S3 without a signature to avoid having to configure anything.

In [ ]:
!pip install boto3
import boto3
from botocore import UNSIGNED
from botocore.client import Config

Collecting boto3
  Downloading boto3-1.18.45-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 5.1 MB/s
Collecting botocore<1.22.0,>=1.21.45
  Downloading botocore-1.21.45-py3-none-any.whl (7.9 MB)
     |████████████████████████████████| 7.9 MB 52.1 MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.8 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.22.0,>=1.21.45->boto3) (2.8.2)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 36.9 MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.22.0,>=1.21.45->boto3) (1.15.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.6 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed boto3-1.18.45 botocore-1.21.45 jmespath-0.10.0 s3transfer-0.5.0 urllib3-1.26.6

In [ ]:
s3 = boto3.client('s3', config=Config(signature_version=UNSIGNED))
s3.list_objects(Bucket='tripdata')['Contents']